[Unit]
Description=Setup Raspberry Pi LEDs
# After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=sh -c "echo cpu > /sys/class/leds/PWR/trigger; echo mmc0 > /sys/class/leds/ACT/trigger"
RemainAfterExit=true
